name: GitHub Metrics
on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

permissions:
  contents: write

jobs:
  github-metrics:
    runs-on: ubuntu-latest
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.METRICS_TOKEN }}
          user: Festo-Wampamba
          template: classic
          base: header, community, repositories
          config_timezone: Africa/Kampala
          theme: radical
          filename: github-metrics.svg
          # Faster language processing
          plugin_languages: yes
          plugin_languages_limit: 8
          plugin_languages_sections: most-used
          # This speeds it up by ignoring large data files
          plugin_languages_ignored: html, css, text
          # Tells the bot exactly what to say when it saves the file
          committer_message: "chore: update metrics [skip ci]"
