name: GitHub Metrics
on:
  schedule:
    - cron: "0 0 * * *" # Runs every 24 hours
  workflow_dispatch: # Allows manual trigger

permissions:
  contents: write

jobs:
  github-metrics:
    runs-on: ubuntu-latest
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.METRICS_TOKEN }}
          user: Festo-Wampamba
          template: classic
          base: header, community, repositories, metadata
          config_timezone: Africa/Kampala
          theme: radical # Keeping your preferred theme
          filename: github-metrics.svg
