name: GitHub Readme YouTube Cards
on:
  schedule:
    # Runs every 24 hours
    - cron: '0 0 * * *'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: DenverCoder1/github-readme-youtube-cards@main
        with:
          channel_id: UCSiPOa3Vowwi42t1BysexmQ
          lang: en
          max_videos: 6
          show_duration: true
          background_color: "#0d1117"
          title_color: "#ffffff"
          stats_color: "#dedede"
          max_title_lines: 1
          width: 250
          border_radius: 5
          api_key: ${{ secrets.YOUTUBE_API_KEY }}
